.header-bar {
  width: 100%;
  text-align: center;
  color: white;
  position: fixed;
  background-color: black;
  font-size: 32px;
}

.header-link, .logo {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  width: 100px;
}

.header-link {
  margin: 0 20px;
}

.header-company {
  font-weight: bold;
}

.logo {
  width: 120px;
  margin: 0 20px;
}

.header-link:hover {
  transform: scale(1.2);
}