.home {
  width: 100%;
  padding-top: 120px;
  margin: 0 auto;
  color: white;
  text-align: center;
}

.home-main-content {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  font-size: 24px;
}

.hypepotamus-logo {
  width: 300px;
}

.bg-image {
  width: 100%;
}